// External Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #20c9b9;
$vin-red: #ff0000;
$text-size: 16px;
$title-size: 1.9em;

/* Styles */
body {
  font: 18px 'Roboto', sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 720px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}
h1 {
  font-size: $title-size;
  line-height: 1.4em;
}
h1, h2 {
	color: $vin-green;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
